/*Base reset of styles*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img, embed, object, video {
    width: 100%;
    height: auto;
}
a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
/*Other CSS global rules*/
html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    background-color: $color-white;
    color: $color-black;
}

.img-div{
    background-image: url("/img/home-bg.svg");
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    min-height: 440px;;
}