.container{
    width: 100%;
    &--p300{
        @include desktop {
            padding-left: 30rem;
        }; 
    }
    &--p50-top{
        padding-top: 7rem;
        @include desktop {
            padding-top: 0rem;
        }; 
    }
    &__inner{
        max-width: 120rem;
        margin: auto;
        padding: 0rem 1rem;
    }
}