.container{
    width: 100%;
    &--p300{
        @include desktop {
            padding-left: 30rem;
        }; 
    }
    &--p50-top{
        padding-top: 7rem;
        @include desktop {
            padding-top: 0rem;
        }; 
    }
    &__inner{
        max-width: 120rem;
        margin: auto;
        padding: 0rem 1rem;
    }
    &__hero-top{
        background-image: url("/img/home-bg.svg");
        background-repeat: no-repeat;
        background-position: top right;
        width: 100%;
        min-height: 36rem;
    }
}