<!-- wp:dr-blocks/header /-->

<!-- wp:dr-blocks/hero {"titleSmall":"I am \u003cmark style=\u0022background-color:rgba(0, 0, 0, 0);color:#7c7f83\u0022 class=\u0022has-inline-color\u0022\u003eRobkė\u003c/mark\u003e","titleBig":"I am web developer \u003cmark style=\u0022background-color:rgba(0, 0, 0, 0);color:#7c7f83\u0022 class=\u0022has-inline-color\u0022\u003e\u0026amp;\u003c/mark\u003e email marketing specialist","titleCaps":"Digital platforms, content, and martech experience","titleYear":"\u003cmark style=\u0022background-color:rgba(0, 0, 0, 0);color:#7c7f83\u0022 class=\u0022has-inline-color\u0022\u003eSince\u003c/mark\u003e 2007"} /-->

<!-- wp:dr-blocks/highlight-txt-right {"title":"Website creation","subtitle":"Control your content, upload images, and enjoy custom functions."} /-->

<!-- wp:dr-blocks/explanation {"title":"Get a fully working website","subtitle":"Let me know your vision about the website and let’s see what can be created. Endless possibilities for layouts, content boxes and user journeys, including CMS, contact form, and other most important parts.","buttonText":"Learn more","description":"HTML | CSS | JavaScript\u003cbr\u003e\u003cbr\u003eREACT | WordPress"} /-->

<!-- wp:dr-blocks/highlight-txt-right {"title":"Content \u0026amp; marketing","subtitle":"Post news, introduce your services or products and grow your network.","imgClass":"highlight\u002d\u002dreversed"} /-->

<!-- wp:dr-blocks/explanation {"title":"All needed parts","subtitle":"Website is not only about code and web development! I have experience with English and Lithuanian content, webmaster tasks and SEO / analytical part.","buttonText":"Learn more","description":"Content | Admin\u003cbr\u003e\u003cbr\u003eSEO | Analytics"} /-->

<!-- wp:dr-blocks/highlight-txt-right {"title":"Let's work together!","subtitle":"Drop me a message if you need website or content!","buttonText":"Contact me now"} /-->

<!-- wp:dr-blocks/footer /-->